{% extends 'base.html' %}
{% block title %}Phân tích dữ liệu{% endblock %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"></script>

<div class="card mb-4">
    <div class="card-header"><h4>Doanh số theo loại bia (Beer_Style)</h4></div>
    <div class="card-body">
        <div class='row'>
            <div class='col-md-8 offset-md-2' style="position: relative;">
                <canvas id="sale_by_beerstyle"></canvas>
            </div>
        </div>
    </div> 
</div>

<div class="card mb-4">
    <div class="card-header"><h4>Doanh số cao nhất theo từng khu vực (Location)</h4></div>
    <div class="card-body">
        <div class='row'>
            <div class='col-md-8 offset-md-2' style="position: relative;">
                <canvas id="sales_by_location"></canvas>
            </div>
        </div>
    </div> 
</div>

<div class="card mb-4">
    <div class="card-header"><h4>Doanh số bán hàng theo từng tháng</h4></div>
    <div class="card-body">
        <div class='row'>
            <div class='col-md-8 offset-md-2' style="position: relative;">
                <canvas id="sales_by_month"></canvas>
            </div>
        </div>
    </div> 
</div>

<div class="card mb-4">
    <div class="card-header"><h4>Tỷ lệ mất mát trong quá trình sản xuất bia qua các giai đoạn</h4></div>
    <div class="card-body">
        <div class='row'>
            <div class='col-md-8 offset-md-2' style="position: relative;">
                <canvas id="loss_ratio"></canvas>
            </div>
        </div>
    </div> 
</div>

<div class="card mb-4">
    <div class="card-header"><h4>Điểm số trung bình của từng loại bia</h4></div>
    <div class="card-body">
        <div class='row'>
            <div class='col-md-8 offset-md-2' style="position: relative;">
                <canvas id="quality_score"></canvas>
            </div>
        </div>
    </div> 
</div>

<script>
    function sale_by_beerstyle() {
        const datas = {{sale_bts|safe}};
        const labels = {{beer_styles|safe}};
        const canvas = document.getElementById('sale_by_beerstyle');

        new Chart(canvas, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Doanh số theo loại bia (Beer_Style)',
                    data: datas,
                    borderWidth: 1,
                    axis: 'y',
                }],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Loại Bia (Beer_Style)',
                            padding: {
                                bottom: 30
                            }
                        }
                    },
                    x: {
                        ticks: {
                            callback: function(value, index, ticks) {
                                let milion = value / Math.pow(10, 6)
                                return `${milion.toLocaleString('en-US')} M`;
                            }
                        },
                        title: {
                            display: true,
                            text: 'Tổng Doanh Số (VNĐ)',
                            padding: {
                                top: 30
                            }
                        }
                    }
                },
                indexAxis: 'y',
            }
        });
    }

    function sales_by_location() {
        const sale_locations = {{sale_locations|safe}};
        const locations = {{locations|safe}};
        const canvas = document.getElementById('sales_by_location');

        new Chart(canvas, {
            type: 'bar',
            data: {
                labels: locations,
                datasets: [{
                    label: 'Doanh số cao nhất theo từng khu vực (Location)',
                    data: sale_locations,
                    borderWidth: 1,
                }],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            callback: function(value, index, ticks) {
                                let milion = value / Math.pow(10, 6)
                                return `${milion.toLocaleString('en-US')} M`;
                            }
                        },
                        title: {
                            display: true,
                            text: 'Tổng Doanh Số (VNĐ)',
                            padding: {
                                bottom: 30
                            }
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Khu vực (Location)',
                            padding: {
                                top: 30
                            }
                        }
                    }
                },
            }
        });
    }

    function sales_by_month() {
        const sale_infos = {{sale_infos|safe}};
        const sale_months = {{sale_months|safe}};
        const canvas = document.getElementById('sales_by_month');

        new Chart(canvas, {
            type: 'line',
            data: {
                labels: sale_months,
                datasets: [{
                    label: 'Doanh số bán hàng theo từng tháng',
                    data: sale_infos,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        ticks: {
                            callback: function(value, index, ticks) {
                                let milion = value / Math.pow(10, 6)
                                return `${milion.toLocaleString('en-US')} M`;
                            }
                        },
                        title: {
                            display: true,
                            text: 'Tổng Doanh Số (VNĐ)',
                            padding: {
                                bottom: 30
                            }
                        }
                    },
                    x: {
                        ticks: {
                            callback: function(value, index, ticks) {
                                return `Tháng ${sale_months[index]}`;
                            }
                        },
                        title: {
                            display: true,
                            text: 'Tháng',
                            padding: {
                                top: 30
                            }
                        }
                    }
                },
            }
        });
    }

    function loss_ratio() {
        const datas = [{{Loss_During_Brewing}}, {{Loss_During_Fermentation}}, {{Loss_During_Bottling_Kegging}}];
        const canvas = document.getElementById('loss_ratio');

        new Chart(canvas, {
            type: 'bar',
            data: {
                labels: ['Brewing', 'Fermentation', 'Bottling/Kegging'],
                datasets: [{
                    label: 'Tỷ lệ mất mát trong quá trình sản xuất bia qua các giai đoạn',
                    data: datas,
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    y: {
                        title: {
                            display: true,
                            text: 'Tỷ Lệ Mất Mát (%)',
                            padding: {
                                bottom: 30
                            }
                        }
                        
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Giai Đoạn Sản Xuất',
                            padding: {
                                top: 30
                            }
                        }
                    }
                },
            }
        });
    }
    
    
    function quality_score() {
        const datas = {{quality_scores|safe}};
        const labels = {{beer_styles|safe}};
        const canvas = document.getElementById('quality_score');

        new Chart(canvas, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Điểm số trung bình của từng loại bia',
                    data: datas,
                    borderWidth: 1,
                    axis: 'y',
                }],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Loại bia (Beer Style)',
                            padding: {
                                left: 30
                            }
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Điểm trung bình (Quality Score)',
                            padding: {
                                top: 30
                            }
                        }
                    }
                },
                indexAxis: 'y',
            }
        });
    }

    sale_by_beerstyle();
    sales_by_location();
    sales_by_month();
    loss_ratio();
    quality_score();
</script>
{% endblock %}


